*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  background-color: #fff;
  color: #333;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
  font-family: inherit;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: bold;
}
