.slide2 {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
}

.slide2-container {
  opacity: 0;
  visibility: hidden;
  width: 90vw;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  position: relative;
}

.bill-block {
  display: flex;
}

.bill-block-left {
  flex: 1;
  position: relative;
}

.bill-block-right {
  flex: 1;
  position: relative;
}

.slide2-img1 {
  width: 46%;
  position: relative;
  left: 10%;
}

.slide2-img2 {
  width: 37%;
  position: absolute;
  top: 5%;
  left: 48%;
}

.slide2-img3 {
  width: 34%;
  position: absolute;
  top: 5%;
  left: -5%;
}

.slide2-img4 {
  width: 48%;
  position: relative;
  top: 5%;
  left: 35%;
  z-index: 2;
}

.slide2-img5 {
  width: 74%;
  position: relative;
  left: 27%;
  top: -2%;
}

.slide2-img6 {
  width: 34%;
  position: absolute;
  bottom: 10%;
  left: 0%;
}

.slide2-img7 {
  width: 82%;
  position: relative;
  bottom: 3%;
}

.slide2-cta {
  width: 80%;
}